<h1>Users</h1>

<%= render "usersearch" %>

<% @users.each_slice(3) do |slice| %>

	<div class="row">
		<% slice.each do |user| %>
			<div class="large-3 columns end user-tile">
				<a href="/users/<%= user['id'] %>"><%= user['username'] %></a>
				
				<p class="user-page-label">Native language: <%= get_language_name(user['language_id']) %></p>

			</div>
		<% end %>
	</div>
<% end %>

