<h1>Users#show</h1>


<a href="/users/<%= @user['id'] %>/notes/new">Add new note</a>


<ul>

<% @notes.each do |note| %>

	<li>
		<a href="/users/<%= @user['id'] %>/notes/<%= note['id'] %>"><%= note['title'] %></a>
	</li>


<% end %>


</ul>
