/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

 @import "variables.scss";

 body {
 	background-color: #ecf0f1;
 }

 main {
 	max-width: 900px;
 	margin: 0 auto;
 	margin-top: 10px;
 }

 #nav-username {
 	font-size: 20px;
 	text-align: right;
 }

 .user-page-labels {
 	margin: 0;
 }


 .user-tile {
 	background-color: $box-color;
 	border: 1px solid #7f8c8d;
 	padding: 10px;
 	margin: 10px;
 	min-width: 200px;
 	height: 100px;

 	.user-page-label {
 		margin-top: 10px;
 	}
 }


 .has-dropdown {
 	min-width: 150px;
 }


 .new-note-cancel {
 	display: block;
 	margin-top: 15px;
 }


 .notes-container {
 	list-style: none;
 	margin: 0 auto;
 	padding: 0;
 	

 	.note {
 		background-color: $box-color;
 		border: 1px solid #7f8c8d;
 		padding: 10px;
 		margin-bottom: 20px;

 		.note-title {
 			font-size: 20px;
 		}

 		.note-username {
 			margin-left: 15px;
 			font-size: 15px;
 			font-style: italic;
 		}

 		.note-language {
 			float: right;
 			font-style: italic;
 		}

 		.note-body {
 			margin-top: 10px;
 			margin-bottom: 10px;
 		}

 		.fa-comments {
 			margin-right: 5px;
 		}

 		.note-comments-label {
 			display: inline;
 			font-size: 13px;
 		}

 		.edit-delete-links {
 			display: inline-block;
 			float: right;
 			vertical-align: top;
 			// margin-top: 10px;

 			.note-edit {
 				padding-right: 1px;
 			}

 			.note-delete {
 				padding-left: 1px;
 			}
 		}
 	}

 	.note-home {
 		@extend .note;
 	}

 	
 	
 }

 .note-opened-created-by {
 	display: inline-block;
 }

 .fa-lock {
 	display: inline;
 	margin-left: 8px;
 }

 .megaphone {
 	width: 14px;
 	margin-top: -3px;
 	margin-left: 8px;
 }


 .note-opened-private-label {
 	display: inline;
 	font-size: 12px;
 }


 .note-opened-question-label {
 	display: inline;
 	font-size: 12px;
 }

 .note-opened-language {
 	display: inline-block;
 	font-size: 18px;
 	margin-bottom: 5px;
 }

 .note-opened-links-icons {
 	float: right;

 	.note-edit {
 		padding-right: 1px;
 	}

 	.note-delete {
 		padding-left: 1px;
 	}
 }

 .note-opened-body {
 	background-color: $box-color;
 	border: 1px solid #7f8c8d;
 	list-style: none;
 	margin-bottom: 10px;
 	padding: $box-padding;

 	p {
 		margin-bottom: 0;
 	}
 }

 .source-label {
 	font-size: 15px;
 	margin-bottom: 0;
 }

 .note-opened-source {
 	background-color: $box-color;
 	border: 1px solid #7f8c8d;
 	list-style: none;
 	padding-left: $box-padding;

 	p {
 		margin-bottom: 0;
 	}
 }


 .comments-section-container {
 	background-color: $box-color;
 	border: 1px solid #7f8c8d;
 	margin-bottom: 30px;
 	padding: $box-padding;
 }

 .comments-container {
 	list-style: none;
 	margin: 10px;

 	#no-comments-message {
 		font-style: italic;
 		color: gray;
 	}
 }


.comment {
	border: 1px solid #7f8c8d;
	margin-bottom: 20px;

	padding: 5px;
	padding-bottom: 25px;

	.comment-username, .comment-language {
		display: inline;
	}

	.comment-username {

	}

	.comment-language {
		display: inline;
		font-size: 14px;
		font-style: italic;
		margin-left: 10px;
	}

	.comment-time {
		display: inline;
		margin-left: 10px;
		font-size: 10px;
	}

	.comment-text {
		margin-bottom: 0
	}

	.comment-delete {
		font-size: 14px;
		float: right;
	}
}


.language-select {
	width: 200px;
}

.language-filter-form {
	width: 300px;
}

.filter-button {
	display: inline;
}

.cancel-filter {
	display: inline;
}

 
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  width: 100%;
  height: auto;
  margin-bottom: 12px;
} 

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
}
 



